.slider{
    display: flex;
    position: absolute;
}

.image{
    width: 600x;
    height: 300px;
    object-fit: contain;
    border-radius: 10px;
}

.fa-chevron-left{
    position: absolute;
    top: 50%;
    left: 10px;
    font-size: 25px;
    color: white;
    z-index: 10;
    cursor: pointer;
    user-select: none;
}

.fa-chevron-right{
    position: absolute;
    top: 50%;
    right: 10px;
    font-size: 25px;
    color: white;
    z-index: 10;
    cursor: pointer;
    user-select: none;
}