.main-container{
    background-color: #f1f2e4;
    padding: 70px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.profile-container{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
}

.text-wrapper{
    padding: 20px;
    flex: 40%;
}

.text-wrapper h2{
    text-align: center;
    font-weight: 700;
    font-family: Georgia;
}

.text-wrapper h1{
    text-align: center;
    font-family: 'Playfair Display';
    color: #5291AD ;
    
}

.text-wrapper p{
    position: relative;
    padding: 20px;
    font-family: 'roboto';
    word-spacing: 5px;   
    font-size: large;
}

.propic-wrapper{
    padding: 10px;
}

.propic-wrapper img{
    border-radius: 50%;
    width: 100%;
    max-width: 500px;
    height: auto;
}
.resume-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 40px;
    max-width: 100%;
    height: auto;
    flex-wrap: wrap;
}

.left-container{
    flex: 40%;
    margin-right: 5px;
    position: relative;
    
}

.right-container{
    flex: 50%;
    margin-left: 5px;
    position: realtive;
}

.info-wrapper{
    background-color: #f1f2e4;
    margin: 10px;

}

.info-wrapper h2 {
    color: #4E9069;
}

.info-wrapper h3{
    font-family: 'roboto';
    font-weight: 300;
    font-size: 20px;
    padding-top: 5px;
}

h3 span{
    font-family: 'roboto condensed';
    font-size: medium;
    font-weight: 400;
} 

.info-wrapper h5{
    font-style: italic;
    font-family: 'roboto';
    font-weight: 300;
    margin-top: 6px;
}

.info-wrapper p {
    font-family: 'roboto';
    padding-top: 5px;
}


i{
    white-space: nowrap;
    padding-top: 20px;
}

i+p{
    display: inline-block;
}

.resume-link{
    text-align: center;
    transition: all .2s ease-in-out ;
}

.resume-link:hover{
    transform: scale(1.2);
}

.resume-link a{
    text-decoration: none;
    color: #4E9069;;
}


