.gallery{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.singleImg{
    display: flex;
    max-width: 350px;
    margin: 5px;
    cursor: pointer;
    justify-content: center;
    align-items: center;
}

.galleryimg{
    width: auto;
    max-height: 150px;
}

.galleryimg:hover{
    transform: scale(1.02);
}

.sliderWrap{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;

}

.fa-circle-xmark{

}

.fa-chevron-left,.fa-chevron-right{
    position: absolute;
    top: 50%;
    z-index: 10;
    cursor: pointer;
    user-select: none;
    color: white;
    font-size: 60px;
}

.fa-chevron-left{
    left: 15px;
}

.fa-chevron-right{
    right: 15px;
}

.fullscreenImg{
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.fullscreenImg img{
    display: block;
    
}