.footer-container{
    background-color: #f1f2e4;
    padding: 4rem 0 2rem 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer-links{
    width: 100%;
    max-width: 1000px;
    display: flex;
    justify-content: center;
}

.footer-link-wrapper{
    display: flex;
}

.footer-link-items{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 200px;
    box-sizing: border-box;
}

.footer-link-items h2{
    margin-bottom: 16px;
}

.footer-link-items > h2{
    color: black;
}

.footer-link-items a {
    color: black;
    text-decoration: none;
    margin-bottom: 8px;
    transition: all .2s ease-in-out;
}

.footer-link-items a:hover{
    color: black;
    text-decoration: underline;
    transform: scale(1.5);
}

h2{
    font-family: 'Monsteratt';
}


@media screen and (max-width: 800px) {
    .footer-links{
        padding-top: 2rem;
    }

    .footer-link-wrapper{
        flex-direction: column;
    }
}