.mainContainer{
    margin: 50px 0;
}
.blogContainer{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    column-gap: 15px;
    gap: 15px;
    justify-items: center;
  
}

.blogCard{
    display: flex;
    flex: 1;
    flex-direction: column;
    overflow: hidden;
    padding: 14px;
    background-color: #F0B5AF;
    border-radius: 15px;
    text-align: center;
}

.blogCard:hover{
    border: 1px solid #C70039;
}

.postImg{
   background-color: #F0B5AF;
}

.postImg img{
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.postDetails{
    display: flex;
    flex-direction: column;
    background: #F0B5AF;
    overflow: hidden;
    
}

.postLink{
    text-decoration: none;
    color: inherit;
}

.postTitle{
    background-color: #F0B5AF;
}

.postDesc{
    background-color: #F0B5AF;
}

@media screen and (max-width:850px){
    .blogContainer{
        grid-template-columns: repeat(2,1fr)
    }
}

@media screen and (max-width: 550px) {
    .blogContainer{
        grid-template-columns: 1fr;
    }
}