.main-container{
    background-color: #f1f2e4;
}

.slider-post-container{
    display: flex;
    flex-direction: row;
}

.slider-wrapper{
    flex: 60%;
    background: blue;
}

ImgSlider{
    object-fit: contain;
}

.post-wrapper{
    flex: 40%;
    background: pink;
}

video{
    object-fit: fill;
}