.main-container{
    background-color: #f1f2e4;
}

.slider-post-container{
    display: flex;
    flex-direction: row;
}

.slider-wrapper{
    flex: 60%;
    background: rgb(218, 208, 208);
}

.post-wrapper{
    flex: 40%;
    background: #d9e6c1;
}

video{
    object-fit: fill;
}