*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.writing_container{
    display: flex;
    margin: auto;
    padding: 50px;
    align-items: center;
    justify-content: center;
    max-width: 100%;
    background-color: #f1f2e4;
}

@media only screen and (max-width: 991px){
    .cards_container{
        grid-template-columns: 1fr 1fr;
    }
}

@media only screen and (max-width: 600px){
    .cards_container{
        grid-template-columns: 1fr;
    }
}

